.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body {
  /* background-color: black; */
}

/* blocks */

.health {
  color: green;
}

.health:after {
  content: "\26D1";
  font-size: 25px;
}

.Player {
  /* background-color: salmon; */
}

.Player:after {
  content: "\1F620";
  font-size: 30px;
}

.weapon1 {
  color: blueviolet;
}

.weapon1:after {
  content: "\2692";
  font-size: 40px;
}

.weapon2 {
  color: salmon;
}

.weapon2:after {
  content: "\2694";
  font-size: 40px;
}

.enemy {
  color: red;
}

.enemy:after {
  content: "\2620";
  font-size: 40px;
}

.boss {
  background-color: sienna;
}

.boss:after {
  content: "\1F608";
  font-size: 30px;
}

.wall {
  background-color: black;
}

.tile {
  border: 1px solid green;
}

/* blocks */

/* menu-bar */
.menu-bar {
  display: grid;
  justify-content: center;
  margin: 20px;
  text-align: left;
  font-size: 20px;
  /* color: white; */
}

.menu-bar button {
  padding: 10px;
  font-size: 16px;
}

/* menu-bar */

.map {
  margin-top: 15px;
  display: grid;
  justify-content: start;
  font-size: 10px;
  grid-gap: -20px;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
}

.small-grid {
  display: grid;
  justify-content: center;
  font-size: 10px;
  grid-gap: -20px;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(3, 40px);
}

.tile-hidden {
  opacity: 0;
  /*background-color:black;*/
}
