
.tile{
  display : inline-flex;
}

 /* .grass{
  background-color:orangered;
} */

.rock {
  background-color:lightseagreen;
}


.car{
  background-color:silver;
}

.tree{
  background-color:blueviolet;
}

