/* blocks */
*{
  font-size:12px;
}
.point{
  background:green;
}

.weapon2{
  background-color:salmon;
}

.enemy{
  background-color:red;

}

.weapon1{
  background:blueviolet;
}

.tile{
  border: 1px solid green;
}

.health{
  background-color:orangered;
}

/* blocks */


/* menu-bar */
.menu-bar{
  display:grid;
  grid-template-columns: repeat(4 , minmax(50px , 20px));
  justify-content: center;
  margin:20px;
  text-align:center;
}




/* menu-bar */

.map{
  display:grid;
  justify-content: center;
  font-size:10px;
  grid-gap:-20px;
  grid-template-columns: repeat(10 , 50px);
  grid-template-rows: repeat(10 , 50px);
}


